body {
    background-color: #363636;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    text-align: center;
    font-size: 50px;
    font-family: 'Comfortaa', monospace;
    font-weight: 500;
    color: #d8cccc;
    margin-bottom: 25px; 
    margin-top: -100px; 
}

p {
    text-align: center;
    font-size: 25px;
    font-family: 'Comfortaa', monospace;
    font-weight: 300;
    color: #d8cccc;
    margin-top: 5px; 
    margin-bottom: 50px; 
}

form {
    background-color: #454545; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    width: 100%;
    align-items: center;
}

input[type="submit"],
input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 5px auto;
    border: none;
    border-radius: 20px;
    background-color: #575757; 
    color: #ffffff;
    outline: none;
}

input[type="submit"] {
    width: 100%; 
    background-color: #5cb85c; /* Submit button color */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #4cae4c; 
}