<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
    <title>suchAs</title>
    <style>
        body {
            background-color: #363636;
            margin: 0;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: flex-start;
        }

        h1{
            text-align: center;
            font-family: 'Comfortaa', monospace;
            font-weight: 500;
            color: #d8cccc;
            position: relative;
            top: 15%; 
            transform: translateY(-50%);
        }
    </style>
</head>
<body>
    <h1>suchAs</h1>
</body>
</html>
